<html>
  <head> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">
    <!-- Page-specific css -->
    <link href="/stylesheets/index.css" rel="stylesheet">
    <title>muslogger</title>
  </head>
  <body>
	  <div class="parent">
	    <h1>muslogger!</h1><br>
		  <div id="child">
	  		{% block plays_list %}{% endblock %}
	  	  </div>
  	  </div>
  </body>
</html>